@import url("../css/main.css");

.greetings{
  font-size: 50px;
  margin-top: 150px;
}
.form{
  width: 200px;
  height: 500px;
  margin: auto;
}
input .text{
  margin: 10px 0;
}
.text{
  width: 200px;
  height: 20px;
}
.error{
  color: red;
}
