<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../css/signin.css" />
    </head>
    <body>
        <center><div class="log-in">Log in</div></center>
        <form class = "form" method="post" id="user" action="/user/login">
            <div class="form__inputs">
                <label for="username">Username</label>
                <br />
                <input type="text" name="username" />
                <br />
                <label for="password">Password</label>
                <br />
                <input type="password" name="password" />
                <br />
            </div>
            <button>Log in</button>
        </form>
    </body>
</html>