<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PhoneBook</title>
</head>
<body>
    <h1>PhoneBook</h1>
    <table bordercolor="red" border="2" width="100%">
        <tr>
            <td>
                <label>First Name</label>
            </td>
            <td>
                <label>Last Name</label>
            </td>
            <td>
                <label>Second Name</label>
            </td>
            <td>
                <label>Email</label>
            </td>
            <td>
                <label>Mobile Number</label>
            </td>
            <td>
                <label>Home Phone Number</label>
            </td>
            <td>
                Edit
            </td>
        </tr>
        <tr th:each="contact : ${contacts}">
            <form method="get" th:action="@{/user/phonebook/edit/}+${contact.id}">
                <td th:text="${contact.firstName}">First Name</td>
                <td th:text="${contact.lastName}">Last Name</td>
                <td th:text="${contact.email}">Email</td>
                <td th:text="${contact.secondName}">Second Name</td>
                <td th:text="${contact.mobileNumber}">Mobile Number</td>
                <td th:text="${contact.homePhoneNumber}">Home Phone Number</td>
                <td><input type="submit" value="Edit" /></td>
            </form>
        </tr>
    </table>
<br />
    <form method="GET" action="/user/logout">
        <input type="submit" value="Log Out" />
    </form>
</body>
</html>