<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PhoneBook</title>
        <link rel="stylesheet" href="../css/phonebook.css" />
    </head>
    <body>
        <center><div class="greetings">Phonebook</div></center>
        <div class="wrapper">
            <table class="table" border="1">
                <tr>
                    <td>
                        <label>First Name</label>
                    </td>
                    <td>
                        <label>Last Name</label>
                    </td>
                    <td>
                        <label>Middle Name</label>
                    </td>
                    <td>
                        <label>Email</label>
                    </td>
                    <td>
                        <label>Mobile Number</label>
                    </td>
                    <td>
                        <label>Home Phone Number</label>
                    </td>
                    <td>
                        Edit
                    </td>
                </tr>
                <tr th:each="contact : ${contacts}">
                    <form method="get" th:action="@{/user/phonebook/edit/}+${contact.id}">
                        <td th:text="${contact.firstName}">First Name</td>
                        <td th:text="${contact.lastName}">Last Name</td>
                        <td th:text="${contact.middleName}">Second Name</td>
                        <td th:text="${contact.email}">Email</td>
                        <td th:text="${contact.mobileNumber}">Mobile Number</td>
                        <td th:text="${contact.homePhoneNumber}">Home Phone Number</td>
                        <td><input type="submit" value="Edit" /></td>
                    </form>
                </tr>
            </table>
            <br />
            <div class="table-form">
                <a href="/user/phonebook/add"><button class="button"> Add Contact </button> </a>
                <a href="/user/logout"><button class="button"> Logout </button> </a>
            </div>
            <form class="select-form" th:method="post" th:action="@{/user/phonebook}">
                <select name="sortBy">
                    <option>Name</option>
                    <option>Last Name</option>
                    <option>Mobile Number</option>
                </select>
                <button name="sort">Sort</button>
            </form>
        </div>
    </body>
</html>